* {
  margin: 0;
  padding: 0;
  font-family: 'Caprasimo', sans-serif;
}

.bg {
  background-image: url('./images/event-island.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 80vh;
}

.navbar {
  background-color: #00921d;
  color: white;
  height: 10vh;
}

.navbar-nav {
  background-color: #00921d;
  /* width: auto; */
}

.navbar-collapse {
  width: 100%;
  margin-left: 10rem;
  background-color: #00921d;
  z-index: 1;
  overflow-y: auto;
  text-align: center;
  max-height: 100vh;
  transition: max-height 0.3s ease;
}

@media (max-width: 992px) {
  .navbar-collapse {
    width: 100%;
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00921d;
    z-index: 1;
    overflow-y: auto;
    text-align: center;
    max-height: 100vh;
    transition: max-height 0.3s ease;
    margin-top: 10vh;
  }
}

.navbar-collapse.show {
  /* right: 0; */
  max-height: calc(100vh - 56px);;
}

.navbar-toggler {
  position: relative;
  z-index: 2;
}

.navbar-toggler-icon {
  background-color: #00921d; /* Replace with your desired color */
}

.navbar .navbar-brand {
  color: white;
  font-size: 1.25rem;
  font-family: 'Caprasimo', sans-serif;
}

.navbar .nav-link {
  color: white;
  font-size: 1.25rem;
}

.home {
  color: white;
  font-size: 1.25rem;
  width: 70%;
  display: none;
  background-color: rgb(40, 44, 52, .7);
  margin: auto;
}

.destinations {
  color: white;
  font-size: 1rem;
  width: 70%;
  background-color: rgb(40, 44, 52, .9);
}

@media (max-width: 768px) {
  .destinations {
    font-size: 1rem;
    width: 90%;
  }
}

.footer {
  background-color: #00921d;
  color: white;
  height: 20vh;
}


/* Media Queries */

@media (max-width: 768px) {
  .home {
    font-size: 1rem;
    width: 90%;
  }
}
